<div class="row">
  <div class="span12">
    <div class="widget stacked">
        <div class="widget-header">
          <i class="icon-list-alt"></i>
          <h3>Criando um orçamento</h3>
        </div> <!-- /widget-header -->

        <div class="widget-content">
          <ul id="myTab" class="nav nav-tabs">
            <li class="active">
              <a href="#home" data-toggle="tab">Produtos</a>
            </li>
            <li>
              <a href="#home" data-toggle="tab">Regionais</a>
            </li>
            <li>
              <a href="#home" data-toggle="tab">Projetistas</a>
            </li>
            <li>
              <a href="#home" data-toggle="tab">Obras</a>
            </li>

          </ul>

          <div class="tab-content">
            <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                    <thead>
                      <tr>
                        <th>Código</th>
                        <th>Descrição</th>
                        <th>Atualizado em</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1234</td>
                        <td>Descrição ABC</td>
                        <td>01/11/2013 14:30</td>
                      </tr>
                      <tr>
                        <td>5678</td>
                        <td>Descrição DEF</td>
                        <td>01/11/2013 14:30</td>
                      </tr>
                      <tr>
                        <td>9012</td>
                        <td>Outra descrição JKLM</td>
                        <td>01/11/2013 14:30</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Mais uma descrição</td>
                        <td>01/11/2013 14:30</td>
                      </tr>
                    </tbody>
                  </table>
              </div> <!-- /.table-responsive -->
            </section>
          </div>


        </div> <!-- /widget-content -->

      </div>
  </div>
</div>
