<div class="row">
  <div class="span12">
    <div class="widget stacked">
        <div class="widget-header">
          <i class="icon-home"></i>
          <h3>Home</h3>
        </div> <!-- /widget-header -->

        <div class="widget-content">
<div class="accordion" id="basic-accordion">
                    <div class="accordion-group open">
                      <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#basic-accordion" href="#collapseOne">
                          Minhas últimas pesquisas
                        </a>
                      </div>
                      <div id="collapseOne" class="accordion-body in collapse">
                        <div class="accordion-inner">
                          <table class="table table-bordered table-striped table-highlight">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>Michael</td>
                                <td>Jordan</td>
                                <td>@mjordan</td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>Magic</td>
                                <td>Johnson</td>
                                <td>@mjohnson</td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                              </tr>
                              <tr>
                                <td>4</td>
                                <td>Charles</td>
                                <td>Barkley</td>
                                <td>@cbark</td>
                              </tr>
                              <tr>
                                <td>5</td>
                                <td>Karl</td>
                                <td>Malone</td>
                                <td>@kmalone</td>
                              </tr>
                            </tbody>
                          </table>

                        </div>
                      </div>
                    </div>
                    <div class="accordion-group open">
                      <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#basic-accordion" href="#collapseTwo">
                          Novidades do Pesquisa RH
                        </a>
                      </div>
                      <div id="collapseTwo" class="accordion-body in collapse">
                        <div class="accordion-inner">
                            <ul class="news-items">
                              <li>

                                <div class="news-item-detail">
                                  <a href="javascript:;" class="news-item-title">Duis aute irure dolor in reprehenderit</a>
                                  <p class="news-item-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                                </div>

                                <div class="news-item-date">
                                  <span class="news-item-day">08</span>
                                  <span class="news-item-month">Mar</span>
                                </div>
                              </li>
                              <li>
                                <div class="news-item-detail">
                                  <a href="javascript:;" class="news-item-title">Duis aute irure dolor in reprehenderit</a>
                                  <p class="news-item-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                                </div>

                                <div class="news-item-date">
                                  <span class="news-item-day">08</span>
                                  <span class="news-item-month">Mar</span>
                                </div>
                              </li>
                              <li>
                                <div class="news-item-detail">
                                  <a href="javascript:;" class="news-item-title">Duis aute irure dolor in reprehenderit</a>
                                  <p class="news-item-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                                </div>

                                <div class="news-item-date">
                                  <span class="news-item-day">08</span>
                                  <span class="news-item-month">Mar</span>
                                </div>
                              </li>
                            </ul>

                        </div>
                      </div>
                    </div>


        </div> <!-- /widget-content -->

      </div>
  </div>
</div>
