<div class="navbar navbar-inverse">

  <div class="navbar-inner">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
            <%= image_tag("nordserv.png", height: '36', width: '36') %>
            Novo MLN
        </a>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">

            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="icon-ok"></i>
              admin@nordserv.com.br
              <b class="caret"></b>
            </a>

            <ul class="dropdown-menu">
              <li><a href="javascript:;">Minha conta%></a></li>
              <li>
                Usuário
              </li>

              <li class="divider"></li>
              <li><%= link_to t("menu.signout"), "", :method => :delete %></li>
            </ul>

          </li>
        </ul>
      </div><!--/.nav-collapse -->

    </div> <!-- /container -->
  </div> <!-- /navbar-inner -->
</div> <!-- /navbar -->